### Python
# logs
*.log

# Byte-compiled / optimized / DLL files
.cache/
**/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.eggs

# tests
.hypothesis/
.coverage
result.xml

# virtual environments
venv/

### IntelliJ IDEA
.idea/

### Fortran
*.mod
*.o
fort.*
main.e

### alcor
# simulations inputs
*.csv

# simulations outputs
*.res

# plots
*.ps

# inputs
*.hdf5
